@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

   
        <li class="w3-hide-small w3-dropdown-hover w3-right"><a href="/Account/" class="w3-padding-large w3-hover-white" title="My Account"><img src="@ViewBag.AvatarURL" class="w3-circle" style="height:25px;width:25px" alt="Avatar"> @User.Identity.GetUserName() (@ViewBag.UserName)</a>
            <div class="w3-dropdown-content w3-white w3-card-4">
                <a href="/Account/">My account</a>
                <a href="javascript:document.getElementById('logoutForm').submit()">Logoff</a>
            </div>
        </li>
            
       
 
    }
}
else
{

        <li class="w3-hide-small w3-dropdown-hover w3-right">
            <a href="/Account/" class="w3-padding-large w3-hover-white" title="My Account"><img src="http://www.w3schools.com/w3images/avatar3.png" class="w3-circle" style="height:25px;width:25px" alt="Avatar"> You are not authorized. </a>
            <div class="w3-dropdown-content w3-white w3-card-4">
                <a href="/Account/Login/">Log in</a>
                <a href="/Account/Register/">Registration</a>
               
        </div>
        </li>

       

}
