@using social.Models;
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/_AuthLayout.cshtml";
    ViewBag.Title = "Edit User";
}
<div style="max-width:600px;" align="left">
    <div class="w3-container w3-teal">
        <h2>Change your password to improve your security</h2>
    </div>
    <div class="w3-container w3-card-4 w3-padding-12" align="center">

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }

            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
